openapi: 3.1.0
info:
  title: Corredor CRM Public REST API
  description: |
    Public REST API for the Corredor CRM property management platform.

    ## Authentication

    All authenticated endpoints require a valid API key passed as a Bearer token
    in the `Authorization` header:

    ```
    Authorization: Bearer <api-key>
    ```

    API keys are scoped — certain endpoints require specific scopes such as
    `properties:write`, `contacts:write`, `leads:write`, or `webhooks:write`.

    ## Pagination

    List endpoints use cursor-based pagination. The response includes a
    `nextCursor` field; pass it as the `cursor` query parameter to fetch the
    next page. When `nextCursor` is `null`, there are no more results.

    ## Rate Limits

    Every response includes rate-limit headers:

    | Header                  | Description                          |
    |-------------------------|--------------------------------------|
    | `X-RateLimit-Limit`     | Maximum requests allowed per window  |
    | `X-RateLimit-Remaining` | Requests remaining in current window |
    | `X-RateLimit-Reset`     | Unix timestamp when the window resets|

    Limits per plan:

    | Tier                    | Requests / minute |
    |-------------------------|-------------------|
    | Unauthenticated         | 30                |
    | Basico / Solo           | 60                |
    | Profesional / Pro       | 200               |
    | Agencia                 | 600               |
    | Enterprise              | 2 000             |

    When the limit is exceeded the API responds with `429 Too Many Requests`
    and a `Retry-After` header indicating seconds to wait.

    ## Standard Response Headers

    All responses include:

    - `X-API-Version: v1`
    - `X-Request-Id: <uuid>` — unique identifier for the request
  version: 1.0.0
  contact:
    name: Corredor CRM Engineering
    url: https://corredor.ar
    email: api@corredor.ar
  license:
    name: Proprietary

servers:
  - url: https://api.corredor.ar/v1
    description: Production
  - url: http://localhost:4000/v1
    description: Development

tags:
  - name: Health
    description: Service health endpoints
  - name: Listings
    description: Public property listings (unauthenticated)
  - name: Properties
    description: Property management (authenticated)
  - name: Contacts
    description: Contact management (authenticated)
  - name: Leads
    description: Lead / deal pipeline management (authenticated)
  - name: Webhooks
    description: Webhook subscriptions (authenticated)
  - name: Portals
    description: Portal integration status (authenticated)
  - name: Auth
    description: API key introspection (authenticated)

# ──────────────────────────────────────────────────────────────────────
# Security
# ──────────────────────────────────────────────────────────────────────
security: []

# ──────────────────────────────────────────────────────────────────────
# Paths
# ──────────────────────────────────────────────────────────────────────
paths:
  # ── Health ──────────────────────────────────────────────────────────
  /health:
    get:
      operationId: getHealth
      summary: API health check
      tags: [Health]
      responses:
        "200":
          description: Service status
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                required: [status, timestamp, version]
                properties:
                  status:
                    type: string
                    enum: [ok, degraded]
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                    example: "2026-05-11T14:30:00.000Z"
                  version:
                    type: string
                    example: "1.0.0"

  # ── Listings (public) ──────────────────────────────────────────────
  /listings:
    get:
      operationId: listListings
      summary: Public property listings
      description: >
        Returns published property listings for the tenant identified by
        the `X-Tenant-Slug` header. No authentication required.
      tags: [Listings]
      parameters:
        - $ref: "#/components/parameters/XTenantSlug"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - name: type
          in: query
          description: Filter by property type
          schema:
            $ref: "#/components/schemas/PropertyType"
      responses:
        "200":
          description: Paginated list of listings
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: object
                required: [data, nextCursor]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Property"
                  nextCursor:
                    $ref: "#/components/schemas/NextCursor"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /listings/{id}:
    get:
      operationId: getListing
      summary: Get a single listing
      tags: [Listings]
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: The requested listing
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/Property"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ── Auth ────────────────────────────────────────────────────────────
  /me:
    get:
      operationId: getMe
      summary: Current API key info
      tags: [Auth]
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Information about the authenticated API key
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required:
                      - tenantId
                      - tenantName
                      - keyName
                      - keyPrefix
                      - scopes
                    properties:
                      tenantId:
                        type: string
                        format: uuid
                      tenantName:
                        type: string
                        example: Inmobiliaria Rivadavia
                      keyName:
                        type: string
                        example: production-key
                      keyPrefix:
                        type: string
                        example: crdr_live_abc1
                      scopes:
                        type: array
                        items:
                          type: string
                        example:
                          - "properties:read"
                          - "properties:write"
                          - "contacts:read"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ── Properties ──────────────────────────────────────────────────────
  /properties:
    get:
      operationId: listProperties
      summary: List properties
      tags: [Properties]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Search"
        - name: status
          in: query
          description: Filter by property status
          schema:
            $ref: "#/components/schemas/PropertyStatus"
      responses:
        "200":
          description: Paginated list of properties
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: object
                required: [data, nextCursor]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Property"
                  nextCursor:
                    $ref: "#/components/schemas/NextCursor"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"

    post:
      operationId: createProperty
      summary: Create a property
      description: Requires the `properties:write` scope.
      tags: [Properties]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PropertyCreate"
      responses:
        "201":
          description: Property created
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/Property"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /properties/{id}:
    get:
      operationId: getProperty
      summary: Get a property
      tags: [Properties]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: The requested property
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/Property"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      operationId: updateProperty
      summary: Update a property
      description: Requires the `properties:write` scope. Only provided fields are updated.
      tags: [Properties]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PropertyUpdate"
      responses:
        "200":
          description: Property updated
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/Property"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

    delete:
      operationId: deleteProperty
      summary: Soft-delete a property
      description: Requires the `properties:write` scope.
      tags: [Properties]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          description: Property deleted
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Property Media ──────────────────────────────────────────────────
  /properties/{id}/media:
    get:
      operationId: listPropertyMedia
      summary: List property media
      tags: [Properties]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: All media for the property
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Media"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    post:
      operationId: createPropertyMedia
      summary: Add media to a property
      description: Requires the `properties:write` scope.
      tags: [Properties]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MediaCreate"
      responses:
        "201":
          description: Media created
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/Media"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /properties/{id}/media/{mediaId}:
    delete:
      operationId: deletePropertyMedia
      summary: Delete property media
      description: Requires the `properties:write` scope.
      tags: [Properties]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - name: mediaId
          in: path
          required: true
          description: Media item ID
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Media deleted
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Contacts ────────────────────────────────────────────────────────
  /contacts:
    get:
      operationId: listContacts
      summary: List contacts
      tags: [Contacts]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Search"
        - name: kind
          in: query
          description: Filter by contact kind
          schema:
            $ref: "#/components/schemas/ContactKind"
      responses:
        "200":
          description: Paginated list of contacts
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: object
                required: [data, nextCursor]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Contact"
                  nextCursor:
                    $ref: "#/components/schemas/NextCursor"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"

    post:
      operationId: createContact
      summary: Create a contact
      description: Requires the `contacts:write` scope.
      tags: [Contacts]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactCreate"
      responses:
        "201":
          description: Contact created
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/Contact"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /contacts/{id}:
    get:
      operationId: getContact
      summary: Get a contact
      tags: [Contacts]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: The requested contact
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/Contact"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      operationId: updateContact
      summary: Update a contact
      description: Requires the `contacts:write` scope. Only provided fields are updated.
      tags: [Contacts]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactUpdate"
      responses:
        "200":
          description: Contact updated
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/Contact"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

    delete:
      operationId: deleteContact
      summary: Soft-delete a contact
      description: Requires the `contacts:write` scope.
      tags: [Contacts]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          description: Contact deleted
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /contacts/{id}/leads:
    get:
      operationId: listContactLeads
      summary: List leads for a contact
      tags: [Contacts]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Paginated list of leads associated with the contact
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                required: [data, nextCursor]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Lead"
                  nextCursor:
                    $ref: "#/components/schemas/NextCursor"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Leads ───────────────────────────────────────────────────────────
  /leads:
    get:
      operationId: listLeads
      summary: List leads
      tags: [Leads]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Search"
        - name: pipelineId
          in: query
          description: Filter by pipeline
          schema:
            type: string
            format: uuid
        - name: stageId
          in: query
          description: Filter by pipeline stage
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Paginated list of leads
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: object
                required: [data, nextCursor]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Lead"
                  nextCursor:
                    $ref: "#/components/schemas/NextCursor"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"

    post:
      operationId: createLead
      summary: Create a lead
      description: Requires the `leads:write` scope.
      tags: [Leads]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LeadCreate"
      responses:
        "201":
          description: Lead created
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/Lead"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /leads/{id}:
    get:
      operationId: getLead
      summary: Get a lead
      tags: [Leads]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: The requested lead
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/Lead"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      operationId: updateLead
      summary: Update a lead
      description: Requires the `leads:write` scope. Only provided fields are updated.
      tags: [Leads]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LeadUpdate"
      responses:
        "200":
          description: Lead updated
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/Lead"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  # ── Webhooks ────────────────────────────────────────────────────────
  /webhooks:
    get:
      operationId: listWebhooks
      summary: List webhooks
      description: Requires the `webhooks:write` scope.
      tags: [Webhooks]
      security:
        - BearerAuth: []
      responses:
        "200":
          description: All webhook subscriptions for the tenant
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Webhook"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      operationId: createWebhook
      summary: Create a webhook
      description: >
        Requires the `webhooks:write` scope. The response includes a `secret`
        field that is only returned at creation time. Store it securely to
        verify webhook signatures.
      tags: [Webhooks]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookCreate"
      responses:
        "201":
          description: Webhook created (includes signing secret)
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    allOf:
                      - $ref: "#/components/schemas/Webhook"
                      - type: object
                        required: [secret]
                        properties:
                          secret:
                            type: string
                            description: >
                              HMAC signing secret. Only returned once at
                              creation time.
                            example: whsec_abc123def456
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /webhooks/{id}:
    delete:
      operationId: deleteWebhook
      summary: Delete a webhook
      description: Requires the `webhooks:write` scope.
      tags: [Webhooks]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          description: Webhook deleted
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Portals ─────────────────────────────────────────────────────────
  /portals/status:
    get:
      operationId: getPortalsStatus
      summary: Portal sync status
      tags: [Portals]
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Current portal sync status
          headers:
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: {}
                    description: Portal sync status entries (empty when no portals configured)
        "401":
          $ref: "#/components/responses/Unauthorized"

# ──────────────────────────────────────────────────────────────────────
# Components
# ──────────────────────────────────────────────────────────────────────
components:
  # ── Security Schemes ────────────────────────────────────────────────
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: >
        API key passed as a Bearer token. Obtain keys from the Corredor
        dashboard under Settings > API Keys.

  # ── Reusable Parameters ─────────────────────────────────────────────
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      description: Resource UUID
      schema:
        type: string
        format: uuid

    XTenantSlug:
      name: X-Tenant-Slug
      in: header
      required: true
      description: Tenant slug identifying the real-estate agency
      schema:
        type: string
        example: inmobiliaria-rivadavia

    Cursor:
      name: cursor
      in: query
      description: >
        Pagination cursor returned as `nextCursor` from a previous response.
      schema:
        type: string

    Limit:
      name: limit
      in: query
      description: Maximum number of items to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25

    Search:
      name: search
      in: query
      description: Free-text search filter
      schema:
        type: string

  # ── Reusable Headers ────────────────────────────────────────────────
  headers:
    X-API-Version:
      description: API version that handled the request
      schema:
        type: string
        example: v1

    X-Request-Id:
      description: Unique request identifier for tracing
      schema:
        type: string
        format: uuid

    X-RateLimit-Limit:
      description: Maximum requests allowed in the current window
      schema:
        type: integer

    X-RateLimit-Remaining:
      description: Requests remaining in the current window
      schema:
        type: integer

    X-RateLimit-Reset:
      description: Unix timestamp (seconds) when the rate-limit window resets
      schema:
        type: integer

    Retry-After:
      description: Seconds to wait before retrying
      schema:
        type: integer

  # ── Reusable Responses ──────────────────────────────────────────────
  responses:
    Unauthorized:
      description: Missing or invalid authentication credentials
      headers:
        X-API-Version:
          $ref: "#/components/headers/X-API-Version"
        X-Request-Id:
          $ref: "#/components/headers/X-Request-Id"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              code: UNAUTHORIZED
              message: Invalid or missing API key

    Forbidden:
      description: Authenticated but insufficient scopes
      headers:
        X-API-Version:
          $ref: "#/components/headers/X-API-Version"
        X-Request-Id:
          $ref: "#/components/headers/X-Request-Id"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              code: FORBIDDEN
              message: "API key missing required scope: properties:write"

    NotFound:
      description: Resource not found
      headers:
        X-API-Version:
          $ref: "#/components/headers/X-API-Version"
        X-Request-Id:
          $ref: "#/components/headers/X-Request-Id"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              code: NOT_FOUND
              message: Resource not found

    UnprocessableEntity:
      description: Validation error in request body
      headers:
        X-API-Version:
          $ref: "#/components/headers/X-API-Version"
        X-Request-Id:
          $ref: "#/components/headers/X-Request-Id"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              code: VALIDATION_ERROR
              message: "title is required"

    TooManyRequests:
      description: Rate limit exceeded
      headers:
        X-API-Version:
          $ref: "#/components/headers/X-API-Version"
        X-Request-Id:
          $ref: "#/components/headers/X-Request-Id"
        Retry-After:
          $ref: "#/components/headers/Retry-After"
        X-RateLimit-Limit:
          $ref: "#/components/headers/X-RateLimit-Limit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/X-RateLimit-Remaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/X-RateLimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              code: RATE_LIMITED
              message: Too many requests. Retry after 42 seconds.

  # ── Schemas ─────────────────────────────────────────────────────────
  schemas:
    # ── Pagination ───────────────────────────────────────────────────
    NextCursor:
      type:
        - string
        - "null"
      description: >
        Cursor for the next page. Pass as the `cursor` query parameter.
        `null` when there are no more results.
      example: eyJpZCI6ImFiYzEyMyJ9

    # ── Enums ────────────────────────────────────────────────────────
    PropertyType:
      type: string
      enum:
        - apartment
        - ph
        - house
        - quinta
        - land
        - office
        - commercial
        - garage
        - warehouse
        - farm
        - hotel
        - building
        - business_fund
        - development

    PropertyStatus:
      type: string
      enum:
        - active
        - reserved
        - sold
        - paused
        - archived

    ContactKind:
      type: string
      enum:
        - person
        - company

    WebhookEventType:
      type: string
      enum:
        - property.created
        - property.updated
        - property.deleted
        - contact.created
        - contact.updated
        - lead.created
        - lead.stage_changed
        - lead.won
        - lead.lost
        - inbox.message.received
        - reservation.created
        - boleto.signed

    # ── Error ────────────────────────────────────────────────────────
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: Machine-readable error code
              example: VALIDATION_ERROR
            message:
              type: string
              description: Human-readable error description
              example: "title is required"

    # ── Property ─────────────────────────────────────────────────────
    Property:
      type: object
      required:
        - id
        - tenantId
        - status
        - featured
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid
        referenceCode:
          type:
            - string
            - "null"
          example: "REF-001"
        title:
          type:
            - string
            - "null"
          example: Departamento 3 ambientes en Palermo
        description:
          type:
            - string
            - "null"
        propertyType:
          oneOf:
            - $ref: "#/components/schemas/PropertyType"
            - type: "null"
        coveredAreaM2:
          type:
            - number
            - "null"
          description: Covered area in square meters
          example: 65.0
        totalAreaM2:
          type:
            - number
            - "null"
          description: Total area in square meters
          example: 80.0
        rooms:
          type:
            - integer
            - "null"
          example: 3
        bedrooms:
          type:
            - integer
            - "null"
          example: 2
        bathrooms:
          type:
            - integer
            - "null"
          example: 1
        garages:
          type:
            - integer
            - "null"
          example: 1
        country:
          type:
            - string
            - "null"
          example: Argentina
        province:
          type:
            - string
            - "null"
          example: Buenos Aires
        locality:
          type:
            - string
            - "null"
          example: Palermo
        addressStreet:
          type:
            - string
            - "null"
          example: Av. Santa Fe
        addressNumber:
          type:
            - string
            - "null"
          example: "3200"
        lat:
          type:
            - number
            - "null"
          format: double
          example: -34.5875
        lng:
          type:
            - number
            - "null"
          format: double
          example: -58.4116
        status:
          $ref: "#/components/schemas/PropertyStatus"
        featured:
          type: boolean
          default: false
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PropertyCreate:
      type: object
      required: [title]
      properties:
        title:
          type: string
          example: Departamento 3 ambientes en Palermo
        description:
          type: string
        referenceCode:
          type: string
        propertyType:
          $ref: "#/components/schemas/PropertyType"
        status:
          $ref: "#/components/schemas/PropertyStatus"
        featured:
          type: boolean
          default: false
        surfaceCovered:
          type: number
          description: Covered area in square meters
        surfaceTotal:
          type: number
          description: Total area in square meters
        rooms:
          type: integer
        bedrooms:
          type: integer
        bathrooms:
          type: integer
        parkingSpaces:
          type: integer
        address:
          type: object
          properties:
            country:
              type: string
            state:
              type: string
            city:
              type: string
            street:
              type: string
            number:
              type: string
        location:
          type: object
          properties:
            lat:
              type: number
              format: double
            lng:
              type: number
              format: double

    PropertyUpdate:
      type: object
      description: >
        Partial update. Only include the fields you want to change.
      properties:
        title:
          type: string
        description:
          type: string
        referenceCode:
          type: string
        propertyType:
          $ref: "#/components/schemas/PropertyType"
        status:
          $ref: "#/components/schemas/PropertyStatus"
        featured:
          type: boolean
        surfaceCovered:
          type: number
        surfaceTotal:
          type: number
        rooms:
          type: integer
        bedrooms:
          type: integer
        bathrooms:
          type: integer
        parkingSpaces:
          type: integer
        address:
          type: object
          properties:
            country:
              type: string
            state:
              type: string
            city:
              type: string
            street:
              type: string
            number:
              type: string
        location:
          type: object
          properties:
            lat:
              type: number
              format: double
            lng:
              type: number
              format: double

    # ── Media ────────────────────────────────────────────────────────
    Media:
      type: object
      required:
        - id
        - propertyId
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        propertyId:
          type: string
          format: uuid
        sortOrder:
          type:
            - integer
            - "null"
          example: 1
        mediaType:
          type:
            - string
            - "null"
          example: image/jpeg
        storageKey:
          type:
            - string
            - "null"
        thumbUrl:
          type:
            - string
            - "null"
          format: uri
        mediumUrl:
          type:
            - string
            - "null"
          format: uri
        fullUrl:
          type:
            - string
            - "null"
          format: uri
        caption:
          type:
            - string
            - "null"
        createdAt:
          type: string
          format: date-time

    MediaCreate:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
          description: Publicly accessible URL of the media file
        mimeType:
          type: string
          example: image/jpeg
        title:
          type: string
        description:
          type: string
        position:
          type: integer
          description: Sort position (0-indexed)
          minimum: 0

    # ── Contact ──────────────────────────────────────────────────────
    Contact:
      type: object
      required:
        - id
        - tenantId
        - kind
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid
        kind:
          $ref: "#/components/schemas/ContactKind"
        firstName:
          type:
            - string
            - "null"
          example: Juan
        lastName:
          type:
            - string
            - "null"
          example: Perez
        legalName:
          type:
            - string
            - "null"
          description: Legal / company name
        nationalId:
          type:
            - string
            - "null"
          description: DNI / CUIT / CUIL
          example: "20-12345678-9"
        notes:
          type:
            - string
            - "null"
        phones:
          type: array
          items:
            type: string
          example: ["+5491112345678"]
        emails:
          type: array
          items:
            type: string
            format: email
          example: ["juan@example.com"]
        addresses:
          type: array
          items:
            type: string
        leadScore:
          type:
            - integer
            - "null"
          description: Computed lead score
          example: 72
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ContactCreate:
      type: object
      required: [kind]
      properties:
        kind:
          $ref: "#/components/schemas/ContactKind"
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
          description: Used when kind is `company`
        email:
          type: string
          format: email
        phone:
          type: string
        nationalId:
          type: string
        notes:
          type: string

    ContactUpdate:
      type: object
      description: >
        Partial update. Only include the fields you want to change.
      properties:
        kind:
          $ref: "#/components/schemas/ContactKind"
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        nationalId:
          type: string
        notes:
          type: string

    # ── Lead ─────────────────────────────────────────────────────────
    Lead:
      type: object
      required:
        - id
        - tenantId
        - pipelineId
        - stageId
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid
        pipelineId:
          type: string
          format: uuid
        stageId:
          type: string
          format: uuid
        contactId:
          type:
            - string
            - "null"
          format: uuid
        propertyId:
          type:
            - string
            - "null"
          format: uuid
        title:
          type:
            - string
            - "null"
          example: Interested in Palermo apartment
        expectedValue:
          type:
            - string
            - "null"
          description: Monetary value as a string (to avoid floating-point issues)
          example: "150000.00"
        expectedCurrency:
          type:
            - string
            - "null"
          example: USD
        lostReason:
          type:
            - string
            - "null"
        ownerUserId:
          type:
            - string
            - "null"
          format: uuid
        wonAt:
          type:
            - string
            - "null"
          format: date-time
        lostAt:
          type:
            - string
            - "null"
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    LeadCreate:
      type: object
      required: [pipelineId, stageId]
      properties:
        pipelineId:
          type: string
          format: uuid
        stageId:
          type: string
          format: uuid
        contactId:
          type: string
          format: uuid
        propertyId:
          type: string
          format: uuid
        title:
          type: string
        value:
          type: string
          description: Monetary value as a string
        currency:
          type: string
          example: USD
        ownerUserId:
          type: string
          format: uuid

    LeadUpdate:
      type: object
      description: >
        Partial update. Only include the fields you want to change.
      properties:
        stageId:
          type: string
          format: uuid
        title:
          type: string
        value:
          type: string
        currency:
          type: string
        ownerUserId:
          type: string
          format: uuid
        lostReason:
          type: string
        status:
          type: string
          enum: [won, lost]
          description: Set to `won` or `lost` to close the lead.

    # ── Webhook ──────────────────────────────────────────────────────
    Webhook:
      type: object
      required:
        - id
        - url
        - events
        - active
        - failureCount
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
          format: uri
          example: https://example.com/webhooks/corredor
        events:
          type: array
          items:
            $ref: "#/components/schemas/WebhookEventType"
          example:
            - property.created
            - lead.stage_changed
        active:
          type: boolean
          example: true
        lastTriggeredAt:
          type:
            - string
            - "null"
          format: date-time
        failureCount:
          type: integer
          minimum: 0
          example: 0
        createdAt:
          type: string
          format: date-time

    WebhookCreate:
      type: object
      required: [url, events]
      properties:
        url:
          type: string
          format: uri
          description: HTTPS endpoint that will receive webhook payloads
          example: https://example.com/webhooks/corredor
        events:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/WebhookEventType"
          description: Event types to subscribe to
          example:
            - property.created
            - property.updated
            - lead.stage_changed
